In [1]:
import pandas as pd
df = pd.read_csv('../model_logs.csv')

In [2]:
df.head()

,Date,Prompt,Response Time (ms),Tokens Generated
0,2023-01-01,Write a sci-fi short story set in 2050,56,464
1,2023-01-02,Generate a creative story about space travel,48,351
2,2023-01-03,Write a poem about the future of technology,69,276
3,2023-01-04,Draft a speech for a graduation ceremony,78,381
4,2023-01-05,Write a sci-fi short story set in 2050,63,487

In [3]:
df.head(3)

,Date,Prompt,Response Time (ms),Tokens Generated
0,2023-01-01,Write a sci-fi short story set in 2050,56,464
1,2023-01-02,Generate a creative story about space travel,48,351
2,2023-01-03,Write a poem about the future of technology,69,276

In [6]:
df.sample(3)

,Date,Prompt,Response Time (ms),Tokens Generated
10,2023-01-11,Generate marketing copy for a new tech product,70,363
37,2023-02-07,Generate a creative story about space travel,47,258
12,2023-01-13,Draft a speech for a graduation ceremony,93,292

In [5]:
random_row = df.sample()
random_row

,Date,Prompt,Response Time (ms),Tokens Generated
68,2023-03-10,Explain quantum computing in simple terms,72,206

In [8]:
random_sample = df.sample(n=5, random_state=42)
random_sample

,Date,Prompt,Response Time (ms),Tokens Generated
83,2023-03-25,Create a recipe using plant-based ingredients,69,374
53,2023-02-23,Write a sci-fi short story set in 2050,83,495
70,2023-03-12,Write a historical fiction piece about WWII,89,221
45,2023-02-15,Generate marketing copy for a new tech product,73,232
44,2023-02-14,Generate marketing copy for a new tech product,43,254

In [10]:
fraction_sample = df.sample(frac=0.3)
fraction_sample

,Date,Prompt,Response Time (ms),Tokens Generated
31,2023-02-01,Explain quantum computing in simple terms,52,369
25,2023-01-26,Describe the impact of AI on healthcare,45,362
18,2023-01-19,Generate marketing copy for a new tech product,46,492
80,2023-03-22,Create a recipe using plant-based ingredients,73,242
57,2023-02-27,Generate a creative story about space travel,82,298
15,2023-01-16,Write a sci-fi short story set in 2050,85,359
7,2023-01-08,Generate a creative story about space travel,72,419
46,2023-02-16,Generate a creative story about space travel,61,470
51,2023-02-21,Write a poem about the future of technology,38,239
64,2023-03-06,Generate a creative story about space travel,59,292
84,2023-03-26,Generate a creative story about space travel,51,410
49,2023-02-19,Draft a speech for a graduation ceremony,46,238
9,2023-01-10,Create a recipe using plant-based ingredients,35,333
45,2023-02-15,Generate marketing copy for a new tech product,73,232
11,2023-01-12,Write a sci-fi short story set in 2050,52,300
66,2023-03-08,Draft a speech for a graduation ceremony,36,307
62,2023-03-04,Create a recipe using plant-based ingredients,80,244
98,2023-04-09,Draft a speech for a graduation ceremony,56,500
97,2023-04-08,Generate a creative story about space travel,45,309
14,2023-01-15,Describe the impact of AI on healthcare,89,481
61,2023-03-03,Write a poem about the future of technology,87,330
76,2023-03-18,Write a sci-fi short story set in 2050,36,354
28,2023-01-29,Draft a speech for a graduation ceremony,81,395
35,2023-02-05,Explain quantum computing in simple terms,100,203
22,2023-01-23,Write a sci-fi short story set in 2050,84,404
65,2023-03-07,Write a poem about the future of technology,57,399
74,2023-03-16,Generate marketing copy for a new tech product,30,236
2,2023-01-03,Write a poem about the future of technology,69,276
48,2023-02-18,Create a recipe using plant-based ingredients,88,247
99,2023-04-10,Write a poem about the future of technology,76,302